@import b3.vertical.fieldConstructor

@(testForm: Form[formData])(implicit messages: Messages, lang: Lang)

@main("Test form!")("overview") {
  @b3.form(routes.HomeController.submitForm) {
    @b3.text(testForm("name"), '_label -> "Show me what you got!", 'placeholder -> "Enter some text!")
    @b3.text(testForm("age"), '_label -> "Enter your age!", 'placeholder -> "You gotta be an adult!")
    @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Test if the form works }
    @b3.reset('class -> "btn btn-danger"){ <span class="glyphicon glyphicon-remove"></span> Does resetting work? }
  }
}(messages, lang)