@import b3.inline.fieldConstructor

@* section represents which button on the nav bar should be highlighted.
Possible values: "overview", "eateries", "friends", "roulette", "contacts", "about", "help". *@

@(title: String)(section: String)(content: Html)(implicit messages: Messages, lang: Lang)


@header(title) {
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/navbar-fixed-top.css")">
} {
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">@messages("toggle.navigation")</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pusdieno!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#overview">@Messages("overview")</a></li>
        <li><a href="#eateries">@Messages("eateries")</a></li>
        <li><a href="#friends">@Messages("friends")</a></li>
        <li><a href="#randomize">@Messages("randomizer")</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#contact">@Messages("contact")</a></li>
        <li><a href="#about">@Messages("about")</a></li>
        <li><a href="#help">@Messages("help")</a></li>
        <li class="dropdown">
          <a style="padding-top: 15; padding-bottom: 15;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img style="height: 30;" src="@routes.Assets.versioned("images/" + lang.code + ".svg")">
            @Messages("language")<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="background: #eb6864;">
            @b3.form(routes.LanguageController.changeLanguage()) {
            @for((code, language) <- Languages.supported - lang.code) {
            <li>
              @b3.submit('name -> "languageCode", 'value -> code, 'style -> "padding-top: 6px; padding-right: 20px; padding-left: 20px; border: 0; color:#FFFFFF;"){
              <img style="height:2em;" src="@routes.Assets.versioned("images/"+code+".svg")" alt="@code"></img>
              @language
              }
            </li>
            }
            }
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

  <div class="container">

    @content
  </div>
}