@import b3.inline.fieldConstructor

@* section represents which button on the nav bar should be highlighted.
Possible values: "overview", "eateries", "friends", "roulette", "contacts", "about", "help". *@

@(headers: Html)(title: String)(section: String)(content: Html)(implicit messages: Messages, lang: Lang, request: RequestHeader)


@header(title) {
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/navbar-main.css")">
@headers
</head>
<body style="padding-top:60px">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">@messages("toggle.navigation")</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Pusdieno!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li @if(section == "overview") {class="active"}><a href="/overview">@Messages("overview")</a></li>
        <li @if(section == "eateries") {class="active"}><a href="/eateries">@Messages("eateries")</a></li>
        <li @if(section == "friends") {class="active"}><a href="/friends">@Messages("friends")</a></li>
        <li @if(section == "randomize") {class="active"}><a href="/randomize">@Messages("randomizer")</a></li>
      </ul>
      @if(section != "welcome") {
      <form class="navbar-form navbar-left" action="https://forms.google.com/kaukas">
        <button type="submit" class="btn btn-success">@Messages("welcome.form")</button>
      </form>
      }
      <ul class="nav navbar-nav navbar-right">
        <li @if(section == "contact") {class="active"}><a href="/contact">@Messages("contact")</a></li>
        <li @if(section == "about") {class="active"}><a href="/about">@Messages("about")</a></li>
        <li @if(section == "help") {class="active"}><a href="/help">@Messages("help")</a></li>
        <li class="dropdown">
          <a style="padding-top: 15; padding-bottom: 15;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img style="width: 30;" src="@routes.Assets.versioned("images/flags/" + lang.code + ".png")">
            @Messages("language")<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="background: #eb6864;">
            @b3.formCSRF(routes.LanguageController.changeLanguage()) {
            @for((code, language) <- Languages.supported - lang.code) {
            <li>
              @b3.submit('name -> "languageCode", 'value -> code, 'style -> "padding-top: 6px; padding-right: 20px; padding-left: 20px; border: 0; color:#FFFFFF;"){
              <img style="width:2em;" src="@routes.Assets.versioned("images/flags/"+code+".png")" alt="@code"></img>
              @language
              }
            </li>
            }
            }
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
    @content
}