<div class="jumbotron">
    <h1>Jumbotron</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>

By <a href="//commons.wikimedia.org/w/index.php?title=User:Deepak_Vallamsetti&amp;action=edit&amp;redlink=1" class="new" title="User:Deepak Vallamsetti (page does not exist)">Deepak Vallamsetti</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="http://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=52197985">Link</a>